:root {
  --main-bg-color: #fff;
  --default-gap: 10px;
}

body {
  margin: 1rem;
  background: url(Images/Peterbilt-Picture.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}

input {background-color: var(--main-bg-color);}

.flex {display: flex;}  

.center {
  display: flex;
  justify-content: center;
}

.main-content,
.inputs,
.output,
.menu,
.new-truck-form {
  flex-direction: column;
  gap: var(--default-gap);
  background-color: #fff9;
  border-radius: 15px;
  padding: .5rem;
}  

.main-container {
  margin: 1rem auto;
  gap: 30px;
  justify-content: center;
  max-width: 100%;
  align-items: flex-start;
}

.inputs > * ,
.output > *,
.new-truck-form > * {
  flex: 1;
  gap: 5px;
}

.dataset,
.output button {
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-between;
  padding: .25rem;
  background-color: #fff;
  gap: 1rem;
  font-size: 100%;
}

.output button {
  cursor: pointer;
}

.output button:hover {
  background-color: rgba(255, 255, 255, .7);
}

.value {cursor: pointer;}

.value:hover {color: #00f;}

.copy-text {
  text-align: center;
  font-size: large;
  text-decoration: underline;
}

.copy-message-box {
  position: absolute;
  background-color: lightgray;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid black;
  display: none;
  opacity: 0;
  transition: opacity 2s ease-in;
}

.multiple-trucks {
  position: absolute;
  background-color: #fffA;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.multiple-truck {
  background-color: #0006;
  border-radius: 15px;
  padding: .5rem;
  cursor: pointer;
}

.multiple-truck:hover {background-color: #000;}

@media (max-width: 600px) {
  .multiple-trucks {
    flex-direction: column;
  }
}