:root {
  --main-bg-color: #fff;
  --default-gap: 10px;
}

body {
  margin: 1rem;
  background: url(Images/Peterbilt-Model-389.jpg) no-repeat center center fixed;
  background-size: cover;
}

input {
  background-color: var(--main-bg-color);
}

.flex {
  display: flex
}  

.center {
  display: flex;
  justify-content: center;
}

.main-content,
.inputs,
.output,
.menu,
.new-truck-form {
  flex-direction: column;
  gap: var(--default-gap);
  background-color: #fff9;
  border-radius: 15px;
  padding: .5rem;
}  

.main-container {
  margin: 1rem auto;
  gap: 30px;
  justify-content: center;
  width: max-content;
  align-items: flex-start;
}

.inputs > * ,
.output > *,
.new-truck-form > * {
  flex: 1;
  gap: 5px;
}

.dataset {
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-between;
  padding: .25rem;
  background-color: #fff;
}

.menu-button {
  font-size: large;
  padding: 1px 20px;
  border-radius: 20px;
  border: 1px solid black;
  opacity: .5;
  user-select: none;
}

.menu-button:hover {
  opacity: 1;
}

.copy-text {
  text-align: center;
  font-size: large;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .main-container {
    flex-direction: column-reverse;
  }
  .menu-button {
  flex: 1;
  }
}