* {margin: 0;}

ul {list-style: none;}

a {
  text-decoration: none;  
  color: black;
}

body {background-color: lightgray;}

.nav-bar-left {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  top: 0;
  z-index: 1;
  padding: .5rem;
  font-size: 20px;
  border-radius: 0 0 5px 0;
}

.hamburger {
  align-self: flex-end;
  cursor: pointer;
}

.nav-list {
  padding: 0;
  display: none;
  transition: all 200ms ease-in-out;
}

.nav-item {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  margin: .5rem 0 .25rem 0;
  padding: .2rem;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  color: black;
}

.menu-dropdown {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dropdown-list {
  height: 0;
  overflow: hidden;
  transition: height 750ms linear;
  padding-left: 0;
}

.dropdown-list > li {padding-left: .3rem;}

.dropdown-list > li:hover {background-color: gray;}

.nav-item:hover {background-color: rgb(185, 185, 185);}

.header {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.hero {
  background: url("/assets/images/hawaii.jpeg");
  width: 100%;
  height: 750px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {font-size: 20px;}

.projects-header {
  text-align: center;
  background-color: blue;
  color: white;
  padding: .5rem 0;
  margin-bottom: .5rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.25rem;
  margin: 0 1rem;
}

.project-card img {width: 100%;}

.project-card {
  flex: 1 1 300px;
  max-width: 500px;
  text-align: center;
  transition: all 250ms ease-in-out;
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: -50px;
}

.project-card:hover{
  scale: 1.01;
  box-shadow: 0 0 25px black;
}

.project-card::before {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translatex(-50%);
  content: attr(data-title);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 4px;
  color: white;
}